@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>


<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</head>

<header>
    <h1 id="white-big-text" >Portfolio</h1>
</header>

<div id="whole-block">
    <div id="center-text">
        <svg width="350" height="350" id="svg-center">
            <defs>
                <pattern id="image" x="0" patternUnits="userSpaceOnUse" y="0" height="100%" width="100%">
                    <image x="0" y="0" width="356" height="356" xlink:href="http://i0.wp.com/cvisioncentral.com/wp-content/themes/buddyboss/_inc/images/avatar-member.jpg"></image>
                </pattern>
            </defs>
            <circle id='top' cx="178" cy="178" r="100" fill="url(#image)" />
        </svg>
        </div>

    <div class="circle">
        <canvas id="myCanvas" width="200" height="200"></canvas>
    </div>
    <div id="center-index">
        <div class="lcircle">
            <canvas id="myCanvasProgramming" width="200" height="200" style="display:none;" onclick="can_progClick"></canvas>
        </div>
        
        <div class="rcircle">
            <canvas id="myCanvasAutomation" width="200" height="200" style="display:none;" ></canvas>
        </div>
    </div>
    <div id="footer-index">
    </div>
</div>

<script>
    var c = document.getElementById("myCanvasAutomation");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    ctx.arc(100, 100, 100, 0, 2 * Math.PI);
    ctx.font = "30px Georgia italic bold", 100, 100;
    ctx.textAlign = "center";
    ctx.fillStyle = "#b30000";
    ctx.fill();
    ctx.fillStyle = "white";
    ctx.fillText("Automation", 100, 100);

    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    ctx.arc(100, 100, 100, 0, 2 * Math.PI);
    ctx.font = "30px Georgia italic bold", 100, 100;
    ctx.textAlign = "center";
    ctx.fillStyle = "#b30000";
    ctx.fill();
    ctx.fillStyle = "white";
    ctx.fillText("Dariusz Błaś", 100, 100);

    var c = document.getElementById("myCanvasProgramming");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    ctx.arc(100, 100, 100, 0, 2 * Math.PI);
    ctx.font = "30px Georgia italic bold", 100, 100;
    ctx.textAlign = "center";
    ctx.fillStyle = "#b30000";
    ctx.fill();
    ctx.fillStyle = "white";
    ctx.fillText("Programming", 100, 100);
</script>


<script>
    $(document).ready(function () {
        $('#myCanvasProgramming').css('cursor', 'pointer');
        $('#myCanvas').css('cursor', 'pointer');
        $('#myCanvasAutomation').css('cursor', 'pointer');

        $('#myCanvas').hover(function () { //kursor wchodzi
            $('#myCanvas').stop().animate({ 'opacity': 0.5 }, "slow");
            $(this).stop().animate({ 'opacity': 1 }, "slow");
        }, function () { //kursor wychodzi
            $('#myCanvas').stop().animate({ 'opacity': 1 }, "slow");
        });
    });

    $("#myCanvas").click(function () {

        $("#myCanvasProgramming").fadeToggle("slow");

        $("#myCanvasAutomation").fadeToggle("slow");
    });

    $("#myCanvasProgramming").click(function () {
        window.location.href = "/Home/Programming";
    });

    $("#myCanvasAutomation").click(function () {
        window.location.href = "/Home/Automation";
    });

</script>

